/* .goldpackage-wrapper {
  margin-top: 80px;
  margin-left: 500px;
  border: 1px #846330 solid;
  padding: 100px;
  padding-right: 300px;
  background-color: white;
}

.goldpackage-wrapper h1 {
  color: #846330;
  font-size: 30px;
  font-weight: 500;
}

.goldpackage-wrapper p {
  font-size: 20px;
  font-weight: 400;
} */
